* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    color: var(--textcolor);
    font-family: 'Roboto', monospace;
}

:root {
    --primary-color: #1E0342;
    --accent-color: #E1F7F5;
    --accent2-color: #0E46A3;
    --accent3-color: #9AC8CD;
    --dark-color: #1E1E1E;
    --negative-color: #FF4E4E;
    --darkgrey-color: #6F6F6F;
    --textfieldgray-color: #F5F5F5;
    --plane-color: #ffffff;
    --border-shadow: rgba(23, 26, 31, 0.252);
    --font-family: 'Epilogue', sans-serif;
}

.epilogue {
    font-family: 'Epilogue';
}

/* navbar */

.active {
    font-weight: 600;
    color: var(--accent2-color);
    text-decoration: underline;
}

nav {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
    border-bottom: 1px solid var(--dark-color);
}

nav .navrow1 img {
    width: 100px;
}

nav .navrow2 ul {
    display: flex;
    gap: 40px;
}

.navrow2>ul>li>a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;

}

.navrow3 {
    display: flex;
    flex-direction: row;
}

.navrow4 {
    display: none;
}

nav>.navrow3>button {
    height: fit-content;
    padding: 2rem;
    border-left: 1px solid var(--dark-color);
    border-right: none;
    border-top: none;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 400;
}

/* navbar end */

/* footer */

footer {
    width: 100%;
    height: fit-content;
    padding: 2rem 0;
}

footer section {
    padding: 1rem 5rem;
}

footer h5 {
    font-size: 16px;
    font-weight: 500;
}

.footrow1 {
    display: flex;
}

.footRow1Col1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footRow1Col1 p {
    font-size: 12px;
    color: var(--dark-color);
}

.footRow1Col2 {
    width: 70%;
}

.footr1c2row1 {
    display: flex;
    width: 100%;
}

.footr1c2r1col1,
.footr1c2r1col2,
.footr1c2r1col3,
.footr1c2r1col4 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 20%;
}

.footr1c2r1col4>.foot-links>a {
    display: flex;
    /* flex-direction: ; */
    gap: 8px;
}

.footr1c2r1col4 img {
    width: 16px;
}

footer a {
    font-size: 12px;
}

.foot-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.footrow2 {
    display: flex;
}

.footRow2Col1 {
    width: 30%;
}

.footRow2Col2 {
    width: 70%;
}

.footRow2Col2 .foot-links2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* footer end */




@media screen and (max-width: 1000px) {

    /* navbar responsive */

    .navrow2,
    .navrow3 {
        display: none;
    }

    .navrow4 {
        display: block;
    }

    .res-navrow3 {
        display: flex;
    }

    nav {
        padding-left: 0;
        height: 8dvh;
        position: fixed;
    }

    .res-navrow3 button {
        height: 8dvh;
        padding: 0.2rem;
        border-left: 1px solid var(--dark-color);
        border-right: none;
        border-top: none;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background-color: transparent;
        outline: none;
        font-size: 16px;
        font-weight: 400;
    }

    span {
        position: fixed;
        right: 20px;
        top: 20px;
        font-size: 20px;
    }

    .overlay {
        height: 100dvh;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
        color: var(--textfieldgray-color);
        display: block;
        transition: 0.2s;
    }

    .overlay :hover {
        color: var(--accent3-color);
    }

    .overlay .close-btn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
    }

    .overlay a {
        font-size: 20px;
    }

    .overlay .close-btn {
        font-size: 20px;
        top: 15px;
        right: 35px;
    }

    /* footer responsive */

    footer,
    .foot-links2 {
        width: 100%;
        height: fit-content;
        display: block;
    }

    .footrow1,
    .footrow2 {
        display: block;
        width: 100%;
        height: fit-content;
    }

    .footr1c2row1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

}