* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    color: var(--textcolor);
    font-family: 'Roboto';
}

:root {
    --primary-color: #1E0342;
    --accent-color: #E1F7F5;
    --accent2-color: #0E46A3;
    --accent3-color: #9AC8CD;
    --dark-color: #1E1E1E;
    --negative-color: #FF4E4E;
    --darkgrey-color: #6F6F6F;
    --lightygrey-color: #D9D9D9;
    --textfieldgray-color: #F5F5F5;
    --plane-color: #ffffff;
    --border-shadow: rgba(23, 26, 31, 0.252);
    --font-family: 'Epilogue', sans-serif;
}

.epilogue {
    font-family: var(--font-family);
}

article {
    position: fixed;
    top: 5rem;
    right: 2rem;
    height: 88dvh;
    overflow: hidden;
    width: 20dvw;
    /* width: 20%; */
    padding: 2rem 0;
    background-color: #6F6F6F;
}

.carousel {
    width: 100%;
    height: 100%;
}

article img {
    object-fit: contain;
}

nav {
    position: fixed;
    width: 100%;
    /* height: 9dvh; */
    background-color: var(--plane-color);
    padding: 0 2rem;
}

.navRow1 {
    border-bottom: var(--darkgrey-color) 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

nav span {
    font-size: 24px;
}

.navRow1 h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--dark-color);
}

.recruiterProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px; */
    /* background-color: #6F6F6F; */
    /* border: 1px solid var(--darkgrey-color); */
    border-radius: 4px;
    gap: 20px;
}

.recruiterProfile button {
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    outline: none;
    border: none;
    /* border: 1px solid var(--darkgrey-color); */
    /* padding: 4px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
}

#notification {
    /* width: 18px; */
}

.recruiterProfile img {
    width: 20px;
}

.nameDesignation h3 {
    font-size: 18px;
    color: var(--dark-color);
    text-align: right;
}

.nameDesignation p {
    text-align: right;
    font-size: 16px;
    color: var(--darkgrey-color);
}

.overlay {
    height: 100dvh;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--plane-color);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    color: var(--dark-color);
}

.overlay>div {
    width: 100%;
}

.close {
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--dark-color);
    padding: 0 2rem 0 0;
}

.close a {
    padding: 4px;
    transition: 200ms;
    border: 1px solid transparent;
    height: fit-content;
}

.close a:hover {
    color: var(--accent2-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
}

.overlay-content {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
}

.overlay-content img {
    width: 18px;
}

.overlay-content ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    justify-content: center;
}

.overlay-content ul li {
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 200ms;
}

.active {
    background-color: var(--primary-color);
    color: var(--plane-color);
    font-weight: 500;
}

.primary-text {
    color: var(--plane-color);
}

.inActive {
    color: var(--dark-color);
}

.overlay-content>ul>li>a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    /* color: var(--plane-color); */
    display: block;
    transition: 0.2s;
    text-align: left;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;
}

.overlay-content ul li:hover {
    border: 1px solid var(--dark-color);
}

.overlay .close-btn {
    font-size: 40px;
}

main {
    padding: 5rem 2rem;
}

.activejobsContainer {
    width: 100%;
}

.activeJobRow1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 73dvw;
    height: 10dvh;
    background-color: var(--plane-color);
}

.activeJobRow1 p {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-color);
}

.navActions{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: end;
}

.sort-container label {
    font-size: 14px;
    color: var(--darkgrey-color);
}

.sort-container select {
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
    color: var(--dark-color);
    background-color: var(--plane-color);
    font-size: 14px;
    outline: none;
}

.searchbar input[type="search"] {
    border: 1px solid var(--darkgrey-color);
    background-color: var(--textfieldgray-color);
    height: 32px;
    border-radius: 4px;
}

.searchbar input[type="button"] {
    outline: none;
    border: 1px solid var(--dark-color);
    padding: 4px 12px;
    height: 32px;
    color: var(--dark-color);
    border-radius: 4px;
    background-color: var(--plane-color);
    transition: 200ms;
}

.searchbar input[type="button"]:hover {
    background-color: var(--primary-color);
    color: var(--plane-color);
}

.newJobPost button {
    height: 32px;
    padding: 4px 12px;
    border: 1px solid var(--accent2-color);
    background-color: var(--accent2-color);
    color: var(--plane-color);
    border-radius: 4px;
    font-size: 16px;
    transition: 300ms;
}

.newJobPost button:hover {
    background-color: var(--primary-color);
}


/* job list */

.activeJobRow2{
    width: 73dvw;
}

.jobcard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--lightygrey-color);
    padding: 1rem 0;
}

.jobcardCol1 {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.jcC1Col1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jcC1Col1 img{
    width: 40px;
}

.jcC1Col2{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.jcC1Col2 h3{
    font-size: 18px;
    font-weight: 500;
}

.jcC1Col2 p{
    font-size: 12px;
    color: var(--darkgrey-color);
}

.jcC1Col2 span{
    color: var(--dark-color);
    font-weight: 500;
}

.jobcardCol2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.jobTag {
    display: flex;
    gap: 8px;
    padding: 4px 12px;
    background-color: #F3F8FF;
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    font-size: 12px;
}

.jobTag img {
    width: 14px;
}

.jobcardCol3 {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.jobcardCol3 button {
    border: none;
    outline: none;
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 16px;
}

@media screen and (max-height:450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close-btn {
        font-size: 20px;
        top: 15px;
        right: 35px;
    }
}