* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    color: var(--textcolor);
    font-family: 'Roboto';
}

:root {
    --primary-color: #1E0342;
    --accent-color: #E1F7F5;
    --accent2-color: #0E46A3;
    --accent3-color: #9AC8CD;
    --dark-color: #1E1E1E;
    --negative-color: #FF4E4E;
    --darkgrey-color: #6F6F6F;
    --lightygrey-color: #D9D9D9;
    --textfieldgray-color: #F5F5F5;
    --plane-color: #ffffff;
    --border-shadow: rgba(23, 26, 31, 0.252);
    --font-family: 'Epilogue', sans-serif;
}

.epilogue {
    font-family: var(--font-family);
}

nav {
    position: fixed;
    width: 100%;
    /* height: 9dvh; */
    background-color: var(--plane-color);
    padding: 0rem 2rem;
}

.navRow1 {
    border-bottom: var(--darkgrey-color) 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

nav span {
    font-size: 24px;
}

.navRow1 h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--dark-color);
}

.recruiterProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px; */
    /* background-color: #6F6F6F; */
    /* border: 1px solid var(--darkgrey-color); */
    border-radius: 4px;
    gap: 20px;
}

.recruiterProfile button {
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    outline: none;
    border: none;
    /* border: 1px solid var(--darkgrey-color); */
    /* padding: 4px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
}

.recruiterProfile img {
    width: 20px;
}

.nameDesignation h3 {
    font-size: 18px;
    color: var(--dark-color);
    text-align: right;
}

.nameDesignation p {
    text-align: right;
    font-size: 16px;
    color: var(--darkgrey-color);
}

.overlay {
    height: 100dvh;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--plane-color);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    color: var(--dark-color);
}

.overlay>div {
    width: 100%;
}

.close {
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--dark-color);
    padding: 0 2rem 0 0;
}

.close a {
    padding: 4px;
    transition: 200ms;
    border: 1px solid transparent;
    height: fit-content;
}

.close a:hover {
    color: var(--accent2-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
}

.overlay-content {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
}

.overlay-content img {
    width: 18px;
}

.overlay-content ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    justify-content: center;
}

.overlay-content ul li {
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 200ms;
}

.active {
    background-color: var(--primary-color);
    color: var(--plane-color);
    font-weight: 500;
}

.primary-text {
    color: var(--plane-color);
}

.inActive {
    color: var(--dark-color);
}

.overlay-content>ul>li>a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    /* color: var(--plane-color); */
    display: block;
    transition: 0.2s;
    text-align: left;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;
}

.overlay-content ul li:hover {
    border: 1px solid var(--dark-color);
}

.overlay .close-btn {
    font-size: 40px;
}

main {
    padding: 5rem 2rem;
}

.activejobsContainer {
    width: 100%;
}

.activeJobRow1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 10dvh;
    background-color: var(--plane-color);
}

.activeJobRow1 p {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-color);
}

.navActions {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: end;
}

.sort-container label {
    font-size: 14px;
    color: var(--darkgrey-color);
}

.sort-container select {
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
    color: var(--dark-color);
    background-color: var(--plane-color);
    font-size: 14px;
    outline: none;
}

.searchbar input[type="search"] {
    border: 1px solid var(--darkgrey-color);
    background-color: var(--textfieldgray-color);
    height: 32px;
    border-radius: 4px;
}

.searchbar input[type="button"] {
    outline: none;
    border: 1px solid var(--dark-color);
    padding: 4px 12px;
    height: 32px;
    color: var(--dark-color);
    border-radius: 4px;
    background-color: var(--plane-color);
    transition: 200ms;
}

.searchbar input[type="button"]:hover {
    background-color: var(--primary-color);
    color: var(--plane-color);
}

.newJobPost button {
    height: 32px;
    padding: 4px 12px;
    border: 1px solid var(--accent2-color);
    background-color: var(--accent2-color);
    color: var(--plane-color);
    border-radius: 4px;
    font-size: 16px;
    transition: 300ms;
}

.newJobPost button:hover {
    background-color: var(--primary-color);
}


/* job list */

.activeJobsRow1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.ajR2col1 {
    width: 75%;
    /* background-color: #0E46A3; */
}

.ajR2col2 {
    height: 85dvh;
    width: 20%;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    position: fixed;
    right: 2rem;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* animation: fade 3s infinite; */
}

.slide img {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
    object-position: center;
    /* aspect-ratio: 9/16; */
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* condidates list */

.activeJobcol1Row2 {
    border: 1px solid var(--lightygrey-color);
    padding: 16px;
    border-radius: 8px;
}

.extra {
    opacity: 0;
}

.candidateslabels {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    background-color: #F2F4F7;
    padding: 8px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--lightygrey-color);
    gap: 16px;
}

.listLabel-container {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 12px;
    font-weight: 600;
    color: var(--darkgrey-color);
    /* width: 10rem; */
    gap: 8px;
    /* background-color: #0E46A3; */
}

.candidatesdata {
    overflow: hidden;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* display: inline-block; */

}

.companyName {
    width: 15rem;
}

.jobRole {
    width: 12rem;
}

.jobExperience {
    width: 8rem;
}

.jobType {
    width: 8rem;
}

.salary {
    width: 6rem;
}

.date {
    width: 5rem;
}

/* .candidatesdataRows{
    display: flex;
    padding: 18px 16px;
    border-bottom: 1px solid var(--lightygrey-color);
}

.candidatedataRow{
    display: flex;
    gap: 8px;
} */

.candidatedataRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    padding: 16px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--lightygrey-color);
    gap: 16px;
}

.candidatesdataCol {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-color);
    gap: 8px;
    /* background-color: #0E46A3; */
}

.view-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    width: fit-content;
    border-radius: 4px;
    text-align: center;
    background-color: #0E46A3;

}

.candidatesdataCol button {
    background-color: var(--dark-color);
    outline: none;
    color: var(--plane-color);
    border: 1px solid var(--dark-color);
    padding: 4px 12px;
    border-radius: 4px;
    transition: 200ms;
}

.candidatesdataCol button:hover {
    background-color: var(--plane-color);
    color: var(--dark-color);
}

/* Key frames */

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* nav responsive */
@media screen and (max-height:450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close-btn {
        font-size: 20px;
        top: 15px;
        right: 35px;
    }
}

/* main page responsive */

@media screen and (max-width:1500px){
    .companyName {
        width: 13rem;
        /* background-color: #0E46A3; */
    }

    .ajR2col2{
        height: 80dvh;
    }
}
