* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    color: var(--textcolor);
    font-family: "Roboto";
}

:root {
    --primary-color: #1e0342;
    --accent-color: #e1f7f5;
    --accent2-color: #0e46a3;
    --accent3-color: #9ac8cd;
    --secondary-tint: #f3f8ff;
    --dark-color: #1e1e1e;
    --negative-color: #ff4e4e;
    --darkgrey-color: #6f6f6f;
    --lightygrey-color: #d9d9d9;
    --textfieldgray-color: #f5f5f5;
    --plane-color: #ffffff;
    --border-shadow: rgba(23, 26, 31, 0.252);
    --font-family: "Epilogue", sans-serif;
}

.epilogue {
    font-family: var(--font-family);
}

.hr-line {
    border-bottom: 1px solid var(--lightygrey-color);
    margin: 1rem 0;
}

nav {
    position: fixed;
    width: 100%;
    /* height: 9dvh; */
    background-color: var(--plane-color);
    padding: 0rem 2rem;
}

.navRow1 {
    border-bottom: var(--darkgrey-color) 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

nav span {
    font-size: 24px;
}

.navRow1 h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--dark-color);
}

.recruiterProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px; */
    /* background-color: #6F6F6F; */
    /* border: 1px solid var(--darkgrey-color); */
    border-radius: 4px;
    gap: 20px;
}

.recruiterProfile button {
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    outline: none;
    border: none;
    /* border: 1px solid var(--darkgrey-color); */
    /* padding: 4px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
}

.recruiterProfile img {
    width: 20px;
}

.nameDesignation h3 {
    font-size: 18px;
    color: var(--dark-color);
    text-align: right;
}

.nameDesignation p {
    text-align: right;
    font-size: 16px;
    color: var(--darkgrey-color);
}

.overlay {
    height: 100dvh;
    width: 0%;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    /* background-color: var(--plane-color); */
    background-color: #f9fafc;
    border-radius: 8px;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    color: var(--dark-color);
    border-right: 1px solid var(--lightygrey-color);
    /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.overlay > div {
    width: 100%;
}

.close {
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--dark-color);
    padding: 0 2rem 0 0;
    font-weight: 250;
}

.close a {
    padding: 4px;
    transition: 200ms;
    border: 1px solid transparent;
    height: fit-content;
}

.close a:hover {
    color: var(--accent2-color);
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo img {
    width: 100px;
}

.logo h1 {
    font-size: 32px;
    padding-left: 2rem;
}

.blue {
    font-size: 32px;
    color: var(--accent2-color);
}

.green {
    color: green;
}

.delete {
    color: var(--negative-color);
}

.logo-neg {
    font-size: 32px;
    color: var(--negative-color);
}

.overlay-content {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
}

.overlay-content img {
    width: 18px;
}

.overlay-content ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    justify-content: center;
}

.overlay-content ul li {
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 200ms;
    width: 100%;
    font-size: 16px;
}

.active {
    background-color: var(--accent2-color);
    color: var(--plane-color);
    font-weight: 500;
}

.primary-text {
    color: var(--plane-color);
}

.inActive {
    color: var(--dark-color);
}

.overlay-content > ul > li > a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    /* color: var(--plane-color); */
    display: block;
    transition: 0.2s;
    text-align: left;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;
}

.overlay-content ul li:hover {
    border: 1px solid var(--dark-color);
}

.overlay .close-btn {
    font-size: 40px;
}

body {
    overflow: hidden;
}

main {
    padding: 4.5rem 2rem 0 2rem;
}

.activejobsContainer {
    width: 100%;
}

.activeJobRow1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
    width: 100%;
    height: 6dvh;
    background-color: var(--plane-color);
}

.activeJobRow1 p {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-color);
}

.navActions {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: end;
}

.sort-container label {
    font-size: 14px;
    color: var(--darkgrey-color);
}

.sort-container select {
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
    color: var(--dark-color);
    background-color: var(--plane-color);
    font-size: 14px;
    outline: none;
}

.searchbar input[type="search"] {
    border: 1px solid var(--darkgrey-color);
    background-color: var(--textfieldgray-color);
    height: 32px;
    border-radius: 4px;
}

.searchbar input[type="button"] {
    outline: none;
    border: 1px solid var(--dark-color);
    padding: 4px 12px;
    height: 32px;
    color: var(--dark-color);
    border-radius: 4px;
    background-color: var(--plane-color);
    transition: 200ms;
}

.searchbar input[type="button"]:hover {
    background-color: var(--primary-color);
    color: var(--plane-color);
}

.newJobPost button {
    height: 32px;
    padding: 4px 12px;
    border: 1px solid var(--accent2-color);
    background-color: var(--accent2-color);
    color: var(--plane-color);
    border-radius: 4px;
    font-size: 16px;
    transition: 300ms;
}

.newJobPost button:hover {
    background-color: var(--primary-color);
}

/* job list */

.activeJobsRow1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.ajR2col1 {
    width: 75%;
    /* background-color: #0E46A3; */
}

.ajR2col2 {
    height: 85dvh;
    width: 20%;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    position: fixed;
    right: 2rem;
    z-index: -1;
}

.adSlide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* animation: fade 3s infinite; */
}

.adSlide img {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
    object-position: center;
    /* aspect-ratio: 9/16; */
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* condidates list */

.activeJobcol1Row2 {
    border: 1px solid var(--lightygrey-color);
    padding: 16px;
    border-radius: 8px;
}

.extra {
    opacity: 0;
}

.candidateslabels {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    background-color: #f2f4f7;
    padding: 8px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--lightygrey-color);
    gap: 16px;
    /* background-color: #0E46A3; */
}

.listLabel-container {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 12px;
    font-weight: 600;
    color: var(--darkgrey-color);
    gap: 8px;
}

.candidatesdata {
    overflow: hidden;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* display: inline-block; */
}

.checkboxes {
    width: 1rem;
}

.companyName {
    width: 15rem;
}

.candidateName {
    width: 13rem;
}

.candidatejobRole {
    width: 12rem;
}

.jobRole {
    width: 12rem;
}

.jobExperience {
    width: 8rem;
}

.jobType {
    width: 8rem;
}

.salary {
    width: 6rem;
}

.date {
    width: 5rem;
}

.jobExperienceCandidate {
    width: 12rem;
}

.cvsreceived {
    width: 8rem;
}

.candidateCV {
    width: 8rem;
}

.inActiveCompanyName {
    width: 14.2rem;
}

.inActiveJobRole {
    width: 11.5rem;
}

.inActiveJobExperience {
    width: 7.6rem;
}

.inActiveJobType {
    width: 7.6rem;
}

.inActiveCvsReceived {
    width: 7.6rem;
}

.inActiveStatus {
    width: 5rem;
}

.candidateCV button {
    padding: 6px 8px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    background-color: transparent;
}

.candidateStatus {
    width: 8rem;
}

.candidateStarStatus {
    width: 8rem;
}

.candidateStarStatus button {
    /* width: 100%; */
    outline: none;
    border: 1px solid var(--negative-color);
    color: var(--negative-color);
    background-color: transparent;
    padding: 6px 8px;
    border-radius: 4px;
}

.candidateStatus select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    background-color: transparent;
}

.status {
    width: 8rem;
}

.view-btn {
    width: 5rem;
}

.view-candidate-btn button {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    background-color: transparent;
}

.view-candidate-btn {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 5rem;
    /* background-color: #0E46A3; */
}

.popupMenu {
    position: absolute;
    display: none;
    background-color: var(--plane-color);
    border: 1px solid var(--lightygrey-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: fit-content;
    border-radius: 4px;
}

.popupMenu img {
    width: 12px;
}

.popupMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popupMenu li {
    padding: 8px;
    border-bottom: 1px solid var(--lightygrey-color);
}

.popupMenu li button {
    text-decoration: none;
    color: var(--dark-color);
    display: block;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
}

.popupMenu li:hover {
    background-color: var(--secondary-tint);
}

.popupmenushow {
    display: block;
}

.delete-btn > button > p {
    color: var(--negative-color);
}

.candidatedataRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    padding: 10px 16px;
    border-top: 1px solid var(--lightygrey-color);
    gap: 16px;
}

.candidatesdataCol {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-color);
    gap: 8px;
    /* background-color: #0E46A3; */
}

.editList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.view-btn {
    display: flex;
    justify-content: end;
    align-items: center;
}

.view-btn button {
    display: flex;
    justify-content: end;
    align-items: center;
    width: fit-content;
    text-align: center;
    background-color: transparent;
    outline: none;
    color: var(--darkgrey-color);
    border: none;
    font-size: 14px;
}

.candidatesdataCol button {
    display: flex;
    justify-content: end;
    align-items: center;
    width: fit-content;
    border-radius: 4px;
    text-align: center;
    background-color: var(--plane-color);
    outline: none;
    color: var(--accent2-color);
    border: 1px solid var(--accent2-color);
    padding: 4px 12px;
    border-radius: 4px;
    transition: 200ms;
}

.candidatesdataCol > button:hover {
    background-color: var(--accent2-color);
    color: var(--plane-color);
}

.candidatesReceivedDataCol {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-color);
    gap: 8px;
}

/* Key frames */

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* Notification */

/* Notification */
.notification img {
    transition: transform 300ms;
}

.notification img.rotate {
    transform: rotate(25deg);
}

.notificationbar {
    background-color: var(--plane-color);
    position: fixed;
    top: 4rem;
    right: 2rem;
    z-index: 10;
    border-radius: 12px;
    width: 25%;
    border: 1px solid var(--lightygrey-color);
    height: 70vh;
    overflow-y: scroll;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    color: var(--dark-color);
    display: none;
    /* Initially hidden */
    flex-direction: column;
    gap: 12px;
}

.unreadNotification {
    background-color: var(--secondary-tint);
}

.notiRow1 {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 24px 16px 0px 16px;
}

.notiRow1 h1 {
    font-size: 24px;
    font-weight: 500;
}

.notiRow1 button {
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 14px;
}

.notificationBox {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid var(--lightygrey-color);
    padding: 8px 0;
    padding: 8px 16px;
}

.notificationImage img {
    width: 24px;
}

.notificationTextBox {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.notificationText {
    font-size: 14px;
    font-weight: 400;
}

.notificationTime,
.notificationTime span {
    font-size: 10px;
    color: var(--darkgrey-color);
    font-weight: 500;
}

/* actions popup */

#jobActiveJobActions {
    position: absolute;
    top: 25%;
    left: 67%;
    border: 1px solid var(--lightygrey-color);
    background-color: var(--plane-color);
    padding: 8px;
    border-radius: 4px;
    font-size: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.jobActionBtns {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 8px;
    margin-bottom: 4px;
}

.jobActionBtns img {
    width: 14px;
}

/* page number bar */

.pageNumberbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    bottom: 0;
}

.pageNumberbar button {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 2px;
}

.pageNumbers {
    display: flex;
    gap: 1rem;
}

.pageNumbers button.active {
    background-color: var(--accent2-color);
    color: var(--plane-color);
    font-weight: 500;
}

/* nav responsive */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close-btn {
        font-size: 20px;
        top: 15px;
        right: 35px;
    }
}

/* main page responsive */

@media screen and (max-width: 1400px) {
    .companyName {
        width: 13rem;
        /* background-color: #0E46A3; */
    }

    .ajR2col2 {
        height: 80dvh;
    }
}

@media screen and (max-width: 1200px) {
    .companyName {
        width: 11rem;
        /* background-color: #a30e51; */
    }

    .ajR2col2 {
        height: 80dvh;
    }
}
