* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    color: var(--textcolor);
    font-family: 'Roboto', monospace;
}

:root {
    --primary-color: #1E0342;
    --accent-color: #E1F7F5;
    --accent2-color: #0E46A3;
    --accent3-color: #9AC8CD;
    --dark-color: #1E1E1E;
    --negative-color: #FF4E4E;
    --darkgrey-color: #6F6F6F;
    --textfieldgray-color: #F5F5F5;
    --plane-color: #ffffff;
    --border-shadow: rgba(23, 26, 31, 0.252);
    --font-family: 'Epilogue', sans-serif;
}

.epilogue {
    font-family: var(--font-family);
}

/* navbar */

nav {
    width: 100%;
    background-color: var(--plane-color);
    padding: 0 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: var(--dark-color);
}

.navbarrow1 {
    border-bottom: 1px solid var(--dark-color);
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navr1col1>img {
    height: 9dvh;
}

.navr1col2 {
    height: 9dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navr1col2 ul {
    display: flex;
    gap: 40px;
}

.navr1col3 {
    display: flex;

}

.navr1col3 button {
    height: 9vh;
    outline: none;
    border-left: 1px solid var(--dark-color);
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 0 40px;
    background-color: var(--plane-color);
    font-size: 16px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.navr1col3 button:hover {
    background-color: var(--accent2-color);
    color: var(--plane-color);
}

.navr1col3 button span {
    font-size: 18px;
}

.navr1col2>ul>li>a {
    font-size: 16px;
    transition: 0.3s;
}

.active {
    color: var(--accent2-color);
    font-weight: 600;
    text-decoration: underline;
}

.navr1col2>ul>li>a:hover {
    color: var(--accent2-color);
    text-decoration: underline;
}

/* body */

.hidden {
    opacity: 0;
    transition: 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.hidden1 {
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

.delay:nth-child(1) {
    transition-delay: 00ms;
}

.delay:nth-child(2) {
    transition-delay: 100ms;
}

main section {
    height: fit-content;
    /* border: 1px solid var(--accent2-color); */
}

.heroSection {
    widows: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 8rem;
    background: url(../images/Herobg.png);
    background-repeat: no-repeat;
}

.heroSectionRow1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.heroSectionR1col1 span {
    color: var(--accent2-color);
}

.heroSectionR1col1,
.heroSectionR1col2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.heroSectionR1col1 h1 {
    font-size: 64px;
    font-weight: 500;
}

.heroSectionR1col2 img {
    max-height: 400px;
}

.heroSectionRow2 {
    /* border: 1px solid var(--darkgrey-color); */
    border-radius: 12px;
    width: 100%;
    background-color: #F7F7F7;
}

.vLine {
    height: 40px;
    border-left: 1px solid var(--darkgrey-color);
}

.heroSectionRow2 form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    width: 100%;
    padding: 24px;
}

form label {
    font-size: 20px;
    font-weight: 500;
}

datalist {
    /* position: absolute; */
    max-height: 20em;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
}

datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background-color: #ccc;
    cursor: pointer;
}

.searchCol1,
.searchCol2,
.searchCol3,
.searchCol4 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    gap: 12px;
}

.searchCol4 {
    width: 50%;
}

.searchCol4 button {
    font-size: 16px;
    transition: 0.2s;
}

.searchCol4 button:hover {
    background-color: var(--accent2-color);
}

.input-wrapper {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--darkgrey-color);
    border-radius: 4px;
    background-color: var(--plane-color);
}

.input-wrapper input {
    outline: none;
    border: none;
    width: 90%;
}

.searchCol4 button {
    height: 64px;
    width: 144px;
    background-color: var(--dark-color);
    color: var(--plane-color);
    border-radius: 4px;
    outline: none;
    border: none;
}

.trendingJobs {
    padding: 2rem 4rem;
    width: 100%;
    /* Firefox */
}

.trendingJobsRow2 {
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}

.trendingJobs h1 {
    color: var(--accent2-color);
    font-weight: 600;
    padding-left: 3rem;
    font-size: 40px;
}

.jobCards {
    display: flex;
    gap: 24px;
    padding: 30px 50px;
}

.jobCard {
    height: fit-content;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--dark-color);
    padding: 16px;
    border-radius: 16px;
    gap: 10px;
    box-shadow: 0 4px 2px var(--dark-color);
    transition: 0.3s;
}

.jobCard:hover {
    transform: scale(1.05);
}

.cardRow1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.jobCard img {
    width: 40px;
}

.tags {
    display: flex;
    width: fit-content;
    gap: 8px;
}

.tags .highlight {
    background-color: var(--accent-color);
    padding: 4px 12px;
    font-size: 12px;
    color: var(--dark-color);
    border-radius: 4px;
}

.jobCard h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-color);
}

.cardRow2 {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
}

.comapnyName {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-color);
}

.dateUploaded {
    font-size: 12px;
    font-weight: 400;
    color: var(--darkgrey-color);
}

.cardRow4 {
    width: 100%;
}

.briefDesc {
    text-overflow: ellipsis;
    height: 50px;
    font-size: 12px;
    color: var(--darkgrey-color);
    overflow: hidden;
    line-height: 150%;
}

.cardRow5 {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: flex-start;
}

.cardRow5 p {
    font-size: 14px;
    color: var(--dark-color);
}

.cardRow5 img {
    width: 16px;
}

.cardRow6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12px;
}

.saveJobBtn {
    max-width: 20%;
    /* padding: 6px;
    border: 1px solid var(--dark-color);
    outline: none;
    border-radius: 4px;
    background-color: var(--plane-color); */

    border: none;
    background-color: var(--plane-color);
}

.saveJobBtn img {
    width: 32px;
}

.applyJobBtn {
    width: 80%;
    outline: none;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--accent2-color);
    color: var(--plane-color);
}

/* most demanding jobs */

.mostDemandingJobs {
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem;
    width: 100%;
    height: 40dvh;
}

.mostDemandingJobs h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--accent2-color);
}

/* image slider */

.clients {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 7rem 6rem 7rem;
}

.clients h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--accent2-color);
}


.client-container {
    overflow: hidden;
}

.slider {
    display: flex;
    animation: slide 30s linear infinite;
}

.slide {
    flex: 0 0 auto;
    margin-right: 20px;
}

.slide img {
    width: 200px;
    height: 150px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-220%);
    }
}

/*  */

/* footer */

footer {
    padding: 2rem 7rem 0 7rem;
    /* border-top: 1px solid var(--darkgrey-color); */
    box-shadow: 0 -1px 3px #dddddd;
}

.footR1C1row1 img {
    width: 130px;
}

.footRow1 {
    display: flex;
    gap: 7.6rem;
    padding: 0 0 2rem;
}

.footRow1 p {
    font-size: 11px;
    color: var(--darkgrey-color);
}

.footRow1 h3 {
    font-size: 16px;
    font-weight: 600;
}

.socialLinks img {
    width: 20px;
}

.footR1C2row1 {
    display: flex;
    gap: 100px;
}

.footNav {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footNav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footR1col1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footR1C1row4 .socialLinks {
    display: flex;
    gap: 24px;
}

.footNav h3 {
    font-size: 16px;
    color: var(--dark-color);
    font-weight: 700;
}

.footNav a {
    font-size: 12px;
}

.footR1C2R1col4 ul li {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}

.footNav img {
    width: 14px;
}

.footRow2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10dvh;
    gap: 8rem;
    font-size: 12px;
    border-top: 1px solid #dddddd;
    /* box-shadow: 0 -1px 3px #dddddd; */
}

.footR2col2 {
    display: flex;
    gap: 6rem;
}