* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'Epilogue';
    src: url('media/fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('media/fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

:root {
    --primary-color: #1E0342;
    --accent-color: #E1F7F5;
    --accent2-color: #0E46A3;
    --accent3-color: #9AC8CD;
    --dark-color: #1E1E1E;
    --negative-color: #FF4E4E;
    --darkgrey-color: #6F6F6F;
    --textfieldgray-color: #F5F5F5;
    --plane-color: #ffffff;
    --font-family: 'Epilogue', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.headingFont {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.container {
    display: flex;
    /* max-width: 1200px; */
    width: 100%;
    height: 100dvh;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.image-section {
    flex: 1;
    display: none;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-link a {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
    display: inline-block;
}

h1 {
    /* margin: 0; */
    /* margin-bottom: 20px; */
    font-size: 24px;
}

p {
    /* margin: 0; */
    /* margin-bottom: 20px; */
    color: var(--darkgrey-color);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password a {
    text-decoration: none;
    color: var(--accent2-color);
    float: right;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button.facebook-btn {
    background-color: #3b5998;
    margin-bottom: 10px;
}

button.google-btn {
    background-color: #db4437;
}

.social-login {
    text-align: center;
}

.register-link {
    text-align: center;
}

.register-link a {
    color: var(--accent2-color);
    text-decoration: none;
}

input[type="email"],
input[type="password"] {
    /* width: calc(100% - 22px); */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--darkgrey-color);
    border-radius: 4px;
    /* background-color: var(--input-background); */
    /* font-family: var(--font-family); */
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border: 1px solid var(--dark-color);
    /* border-color: var(--plane-color); */
    box-shadow: 0 4px 2px var(--dark-color);
}

.password-container {
    position: relative;
}

.password-container input[type="password"] {
    width: calc(100% - 44px);
    padding-right: 34px;
}

.password-container .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}


@media (min-width: 768px) {
    .image-section {
        display: block;
    }
}